ul {
display: flex;

}

li{
list-style: none;
margin-right: 10px;
height: 35px;
width: 100px;
}

button {
width: 100%;
height: 100%;
font-weight: bold;
}

.time {
display: inline;
font-size: 60px;
margin-left: 15px;


}


